<nav>
  <ul>
    <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
    <li><a routerLinkActive="active" routerLink="/about">About</a></li>
    <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
    <li><a routerLinkActive="active" routerLink="/project">Project</a></li>
  </ul>
</nav>
<section id="intro">
  <h1>Hey, I'm Sachin Pattar</h1>
  <p>A Full-stack Java Developer proficient in React and Angular</p>
  <p> building robust web applications to drive the success of projects from end to end.</p>
</section>

<section id="mouse-scroll">
  <div class="mouse">
    <div class="scroll"></div>
  </div>
</section>

<section id="about">
  <app-about></app-about>
</section>

<section id="project">
  <app-project></app-project>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>


