<section id="about-me">
    <h1>About Me</h1>
    <p>Here you will find more information about me, what I do, and my current skills mostly in terms</p>
    <p> of programming and technology.</p>
  </section>

  <section id="know-me">
    <h1>Get to know me!</h1>
    <p>I am an experienced Java full stack developer with 1.9 years of hands-on web application development experience.</p>
    <p>I am proficient in React and Angular frameworks, creating dynamic user interfaces and ensuring seamless experiences.</p>
    <p>I have strong Java development skills using Spring Boot and familiarity with Hibernate and JUnit. I have a solid understanding</p>
    <p>of SDLC principles, RESTful API development, and cloud platforms like AWS and Azure. I am an agile team player with strong</p>
    <p>problem-solving skills, facilitating effective collaboration and meeting project goals.I'm open to Job opportunities where </p>
    <p>I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to contact me.</p>
  </section>

  <section id="skills">
    <h1>My Skills</h1>
    <div class="skills">
        <div class="skills-skill">Java</div>
        <div class="skills-skill">SpringBoot</div>
        <div class="skills-skill">Angular</div>
        <div class="skills-skill">React</div>
        <div class="skills-skill">MySql</div>
        <div class="skills-skill">MongoDb</div>
        <div class="skills-skill">AWS</div>
        <div class="skills-skill">Hibernate/Jpa</div>
        <div class="skills-skill">MicroServices</div>
        <div class="skills-skill">Python</div>
    </div>
  </section>
  