<p>project works!</p>

<section id="project">
    <h1>Projects</h1>
    <p>Here you will find some of the client's projects that I created and company details.</p>
  </section>
  
  <section class="project1">
    <div class="project-details">
      <h2>DRB</h2>
      <p>DRB is a web application designed for clients seeking tax-related solutions. It offers a convenient platform for managing and processing tax-related tasks efficiently. With DRB, 
        clients can easily handle various tax-related processes, ensuring accuracy and compliance. 
        The application streamlines the tax workflow, providing a user-friendly interface and robust features.
         DRB is a reliable tool that simplifies tax management for clients and enhances their overall tax experience.</p>
    </div>
    <div class="project-image">
      <img src="assets/images/engg.jpg" alt="Project Image">
    </div>
  </section>

  <section class="project1">
    <div class="project-details">
      <h2>WWR(Wild West Rummy)</h2>
      <p>WWR Rummy is a popular card game played with a standard deck of 52 cards. The objective is to form sets or sequences of cards and be the first to eliminate all cards.
         Players take turns drawing and discarding cards to build their sets. Strategy, skill, and luck are key.</p>
    </div>
    <div class="project-image">
      <img src="assets/images/engg1.jpg" alt="Project Image">
    </div>
  </section>

  <section class="project1">
    <div class="project-details">
      <h2>SPORTI</h2>
      <p>SPORTI, formerly known as "Senior Police Officer Mess," served as a prominent institution for over 45 years. Initially established in 1973 to meet the specific requirements of police authorities, 
        it underwent a name change in 2019 to "Senior Police Officers Research and Training Institute.
        " This transformation aimed to enhance the quality of services offered to police officials. 
        SPORTI has been dedicated to providing specialized training and conducting research for the benefit of law enforcement professionals.</p>
    </div>
    <div class="project-image">
      <img src="assets/images/dev.jpg" alt="Project Image">
    </div>
  </section>

  <div id="work-experience">
    <div class="experience">
      <h2>Hanuvel Consultant India Pvt Ltd.</h2>
      <p>Java Developer</p>
      <p>September 2022 - Current</p>
    </div>
    <div class="experience">
      <h2>ACS Global Tech Solutions Pvt Ltd.</h2>
      <p>Java Developer</p>
      <p>July 2021 - August 2022</p>
    </div>
  </div>
  
  